.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* margin: 2%; */
  overflow: hidden;
  /* height: 500rem; */

  .headline {
    margin-top: 5%;
    font-size: 70px;
    padding: 2%;
    width: 90%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu-container {
    padding: 1%;
    margin-bottom: 6%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* z-index: -1; */
  }

  .menu-items {
    padding: 10px;
    margin: 0 10px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
  }

  .menu-items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(
      to right,
      #ff0000,
      #ff8000,
      #ffff00,
      #80ff00,
      #00ff80,
      #00ffff,
      #0080ff,
      #0000ff,
      #8000ff,
      #ff00ff,
      #ff0080
    );
    transition: width 0.3s ease-in-out;
  }

  .menu-items:hover::after {
    width: 100%;
  }

  .image-container {
    overflow: hidden;
    z-index: -1;
  }

  .image-container img {
    height: auto;
    transform: translateX(20%);
    transition: transform 0.3s ease;
  }

  @media (max-width: 868px) {
    .headline {
      margin-top: 13%;
      padding: 8%;
      font-size: 50px;
    }
    .menu-item {
      font-size: 20px;
      margin-bottom: 15%;
    }
    .image-container {
      height: 400px;
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .image-container img {
      transform: translateX(-280px);
    }
  }
}
